absl-py
boto3
h5py>=2.10.0
yacs>=0.1.8
protobuf
unidiff
scipy
tqdm
regex
requests
jsonlines
contextvars
pyarrow>=3
transformers>=4.3.0
tensorboard
pandas
graphviz
networkx
fairscale>=0.3.0
fvcore>=0.1.5
pympler
einops>=0.3.0
timm
omegaconf
matplotlib
awscli
boto3
botocore